.book-brand img {
	width: 196px;
	height: auto;
	margin-left: auto;
	margin-right: auto;

	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;

	filter: var(--logo-filter);
}
.book-brand span {
	display: none;
}
.book-page {
	max-width: 800px;
}
